$sections: 3;
$cards: 4;

@keyframes fade-in {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
section .card {
    opacity: 0;
    transform: translateY(-20px);
    animation: fade-in 300ms ease-in-out forwards;
    overflow: hidden;
}

@for $x from 1 through $sections {
    @for $y from 1 through $cards {
        section:nth-child(#{$x}) .card:nth-child(#{$y}) {
            animation-delay: 100ms * ($y - 1) + ($x - 1) * 400ms;
        }
    }
}