:root{
--purple: #9356DC;
--pink: #FF79DA;
--green: #99E2D0;
}



body{
    max-width: 375px;
}

img {
    height: 120px;
    width: 350px;
    padding-top: 20px;
}
html{
    display: flex;
    justify-content: center;
}

.logo{
    cursor: pointer;
}