
i.fas{
    padding-right: 10px;
    color: #000000;
}
html{
    scroll-behavior: smooth;
}

body{
    margin:0
}

header{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    position: relative;
}

.wrapper{
    overflow-x: hidden;
}

.logo{
    cursor: pointer;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    color: #000000;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:60px;
    background-color: #f3f3f3;
    margin: 0px;
    box-shadow: rgba(70, 70, 82, 0.25) 0px 30px 50px -20px inset, rgba(80, 78, 78, 0.3) 0px 18px 36px -20px inset;
} 

.searchBar{
    font-family: roboto;
    font-size: 15px;
    font-weight: bold;
}

.arrow-left{
    display: flex;
    align-items: center;
    left: 10px;
    height: 100%;
    position: absolute;
    cursor: pointer;
    top:0;
}

.card-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    height: 300px;
    background-color: #fafafa;
    text-align: center;
}
.title{
    display:flex;
    font-size: 20px;
    font-weight: bold;
    font-family: roboto;
    justify-content: space-between;
    
}

.description{
    display: flex;
    justify-content: space-between;
    font-size: 15px; 
    font-family:roboto;
    padding: 0 35px 0 35px;
}
.subtitle{
    font-size: 15px; 
    font-family:roboto;
}

.ExploreRestaurant{
    min-width: 200px;
    height: 45px;
    background-image:linear-gradient(#FF79DA,#9356DC);
    border-radius: 70px;
    border:none;
    font-size: 20px;
    cursor:pointer;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition-duration: .25s;
}

.ExploreRestaurant:hover{
    background-image:linear-gradient(#ff79d9d0,#9256dcbb);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;}

h1,h2{
    
    font-size: 20px;
    font-weight: bold;
    font-family: roboto;
    padding: 50px 20px 30px 20px;
    padding: 0;

}

h3,h4{
    margin: 0;
}

h4{
    font-weight: normal;
}

.card-fonctionement{
    padding:15px
}

.title-menu{
    font-weight: bold;  
    font-size: 17px;
    font-family: roboto;
}

.parent-smallcard{
    display: grid;
    gap: 20px;
}
.parent-operation{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    padding-bottom: 20px;
}

.card-operation{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f6f6f6;
    width: 85%;
    height: 80px;
    border-radius: 25px;
    box-shadow: rgb(0 0 0 / 20%) 0px 18px 50px -10px;
    font-weight: bold;
    font-size: 15px;
    font-family: Roboto;
    cursor: pointer;
    position: relative;
    transition: all 250ms;

}

:hover.card-operation{
    background-color: #EDDEF5;
    
}

:hover.card-operation > i {
    color: #9356DC;
}

.card-operation > i {
    left: 110px;
    position: absolute;
    color: gray; 
    left: 30px;
}


.icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #9356DC;
    left: -13px;
    position: absolute;
}

span{
    color:white;
    font-size: 15px;
    font-family: roboto;

}

.card-restaurants{
    background-color:#f6f6f6;
    padding: 15px 15px 70px 15px;
}

.title-small-card{
    display: flex;
    font-weight: bold; 
    font-size: 20px; 
    font-family: Roboto;
}

.small-card{
    width: 100%;
    height: 210px;
    border-radius: 20px;
    position: relative;
    background-color: #ffffff;
    cursor: pointer;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 20%) 0px 18px 50px -10px;
}

.imgsmall-card{
    display: flex;
    min-width: 100%;
    height: 65%;
    box-shadow: rgb(0 0 0 / 20%) 0px 18px 50px -10px;
    object-fit: cover;
}

:not(.heart) > i.far.fa-heart{
    font-size: 25px;
    transform: translateY(5px);
    padding-right: 10px;
}

.card-content{
    display: flex;
    justify-content: space-between;
    padding: 15px 10px 15px 10px;
    row-gap: 2px;
}

.parent > .card-content {
    padding:0px;
}

.card-content > .heart {
    position: relative;
    height: 25px;
    width: 25px;
    padding-right: 10px;
    align-self: center;
}


.card-content > .heart > i {
    position: absolute;
    font-size: 25px;
    top: 0;
    left: 0;
    transition: opacity 250ms;
}

.card-content > .heart > :last-child {
    opacity: 0;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(#FF79DA, #9356DC);
}

.card-content > .heart:hover > :last-child {
    opacity: 1;
}

.card-content > .heart:hover > :first-child {
    opacity: 0;
}


.title-footer{
    font-family: Shrikhand;
    font-size: 20px;
    padding-bottom: 10px;
    color: white;
}

.col{
    font-family: Roboto;
    font-size: 15px;
    padding-bottom: 10px;
    cursor: pointer;
    color: white;
}

.col > i{
color: white;
}

.col:hover{
    text-decoration: underline;
}


.background-restaurant{
    width: 100%;
    background-color: #f6f6f6;
    border-radius: 40px 40px 0 0;
    position: relative;
    
}

.menu-content{
    margin-top: -50px;

}
.img-top{
    max-height: 255px;
    object-fit: cover;
}

.title-palette{
    display: flex;
    font-size: 25px;
    justify-content: space-between;
    font-family: Shrikhand;

}

.subtitle-menu{
    font-size: 17px;
    font-family: roboto;
}

.title-card{
    font-family: Roboto;
    font-size: 15px;
    padding-top: 15px;
}

.underline{
width: 35px;
height: 5px;
background-color: #99E2D0;
margin: 5px 0 20px 2px;
}

.parent{
display: flex;
flex-direction: column;
row-gap: 20px;
padding:10px

}

.enfant-menu{
    display: grid;
}

.menu{
    padding-bottom: 20px;
}

.card{
    width: 100%;
    height: 70px;
    background-color: white;
    border-radius: 15px;
    cursor: pointer;
    margin: 15px 0 15px 0;
}

.parent-button{
display: flex;
justify-content: space-evenly;
}


.order{
    min-width: 180px;
    height: 50px;
    background-image:linear-gradient(#FF79DA,#9356DC);
    border-radius: 70px;
    border:none;
    font-size: 20px;
    cursor:pointer;
    color: var(--white);
    margin: 50px 0 50px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition-duration: .25s;
}

.order:hover{
    background-image:linear-gradient(#ff79d9d0,#9256dcbb);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.content-menu{
    display: inline-flex;
    justify-content: space-between;
}

.title-wrapper {
    padding: 10px 30px 10px 10px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    overflow: hidden;
}

.title-wrapper > * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sub-title{
    font-size: 15px; 
    font-family:roboto;
}

.price{
    font-weight: bold;
    font-size: 15px;
    font-family: roboto;
    padding-right: 15px;
}

.parent-new{
    display: flex;
    justify-content: flex-end;
    transform: translateX(-15px);
}

.new{
    width: 60px;
    height: 15px;
    display: flex;
    justify-content: center;
    background-color: #99e2d0;
    color:#1b6150;
    position: absolute;
    padding: 5px;
    font-family: roboto;
    border-radius: 2px;
    transform: translateY(15px);
    font-size: 13px;
}

.card-footer{
    height: 175px;
    background-color: #444444;
    color: var(--white);
    padding:20px;
}

.col > :last-child {
    color: white;
}


/* breakpoint for mobile devices */

@media screen and (min-width: 900px){
    .parent-smallcard{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr) );
            gap: 20px;
    }

    .parent-operation{
        flex-direction: row;
        justify-content: space-between;
        gap:30px

    }

    .background-restaurant{
        max-width: 90%;
        display: flex;
        flex-direction: column;
    }

    .menu-content{
    display: flex;
    justify-content: space-around;
    }
    
}


@media screen and (max-width:900px){
    .card{
        width: calc(100vw - 20px);   
    }
}


.loader {
    height: 100%;
    width: 100%;
    z-index: 9999;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    opacity: 0.8;
    -moz-animation: loaderAnimation 0s ease-in 2s forwards;
    /* Firefox */
    -webkit-animation: loaderAnimation 0s ease-in 2s forwards;
    /* Safari and Chrome */
    -o-animation: loaderAnimation 0s ease-in 2s forwards;
    /* Opera */
    animation: loaderAnimation 0s ease-in 2s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  
  @keyframes loaderAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
  }
  @-webkit-keyframes loaderAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
  }
  
  .loader div {
    background: #FF79DA;
    width: 16px;
    height: 32px;
    margin:10px;
    animation: loader 1.1s infinite;
  }
  
  @keyframes loader{
    50%{height:64px;}
  }
  
  .loader div:nth-child(1){
    background:#FF79DA;
    animation-delay: -40s;
  }
  
  .loader div:nth-child(2){
    background: #99E2D0;
    animation-delay: -20s;
  }
  
  .loader div:nth-child(3){
    background: #9356DC;
    animation-delay: 0s;
  }