:root{
--purple: #9356DC;
--pink: #FF79DA;
--green: #99E2D0;
--gray: #ededed;
--white:#ffffff;
}

i.fas{
    padding-right: 35px
}
body{
    margin: 0;
}

img {
    height: 120px;
    width: 350px;
}
header{
    display: flex;
    justify-content: center;
    flex-direction: center;
    padding-top: 20px;
}

.logo{
    cursor: pointer;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 980px;
    height:120px;
    background-color: var(--gray);
    margin: 0px;
    box-shadow: rgba(70, 70, 82, 0.25) 0px 30px 50px -20px inset, rgba(80, 78, 78, 0.3) 0px 18px 36px -20px inset;
}    

.searchBar{
    font-family: roboto;
    font-size: 40px;
}

.fa-map-marker-alt{
    padding-right: 35px
}

.card-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 650px;
    background-color:#f9f3f3;
    row-gap: 10px;
}
.title{
    font-size: 55px;
    font-weight: bold;
    font-family: roboto;
    padding-top: 60px;
    
}
.subtitle{
    display: flex;
    justify-content: center;
    font-size: 40px; 
    font-family: roboto;
    padding: 10px 50px 10px 50px ;
}

.ExploreRestaurant{
    width: 500px;
    height: 120px;
    background-image:linear-gradient(#FF79DA,#9356DC);
    border-radius: 70px;
    border:none;
    font-size: 35px;
    cursor:pointer;
    color: var(--white);
}
.title-operation{
    display: flex;
    font-size: 50px;
    font-weight: bold;
    font-family: roboto;
    padding: 50px 20px 50px 50px;

}
.parent-operation{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}

.card-operation{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--gray) ;
    width: 800px;
    height: 220px;
    border-radius: 40px;
    box-shadow: rgb(0 0 0 / 20%) 0px 18px 50px -10px;
    font-weight: bold;
    font-size:35px;
    font-family: Roboto;
    cursor: pointer;

}

.icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--purple);
}

span{
    color:white;
    font-size: 30px;
}